## Libraryies

In [1]:
import numpy as np
import pandas as pd
import plotnine as pn

## Load dataset

* Turnout number data

In [2]:
!ls ../00_source_data/

2008 Primary Elections - Turnout Rates.csv
2008_USStates_by_Race.csv
2012 Primary Elections - Turnout Rates.csv
2012_USStates_by_Race.csv
2016 Primary Elections - Turnout Rates.csv
2016_USStates_by_Race.csv
2020 Primary Elections - Turnout Rates.csv
2020_USStates_by_Race.csv
ACSDP5Y2016.DP05_data_with_overlays_2020-04-23T132311.csv
ACSDP5Y2018.DP05_data_with_overlays_2020-04-23T132311.csv
README.md
electiontype.csv
turnout_number_Maine_counties.csv
turnout_number_Maine_counties.xlsx

In [3]:
df_turnout = pd.read_csv("../00_source_data/turnout_number_Maine_counties.csv")

In [4]:
df_turnout.describe()

              Year  Turnout_number
count    32.000000       32.000000
mean   2018.000000     6377.156250
std       2.032002    12738.954789
min    2016.000000       40.000000
25%    2016.000000      115.750000
50%    2018.000000     1148.500000
75%    2020.000000     6523.500000
max    2020.000000    65403.000000

In [5]:
df_turnout["County"] = df_turnout["County"].str.replace(" COUNTY", "")

In [6]:
df_turnout.head()

   Year       County  Turnout_number
0  2020       OXFORD            6148
1  2020     FRANKLIN            3475
2  2020     SOMERSET            4029
3  2020  PISCATAQUIS            1353
4  2020    AROOSTOOK            5832

In [7]:
# Missing Data Percentage
df_turnout.isnull().sum(axis = 0)/len(df_turnout)*100

Year              0.0
County            0.0
Turnout_number    0.0
dtype: float64

* Demographics in 2018

In [8]:
df_demo2018 = pd.read_csv("../00_source_data/ACSDP5Y2018.DP05_data_with_overlays_2020-04-23T132311.csv")
df_demo2018.head()

,GEO_ID,NAME,DP05_0031PM,DP05_0032E,DP05_0032M,DP05_0032PE,DP05_0032PM,DP05_0033E,DP05_0033M,DP05_0033PE,...,DP05_0029M,DP05_0029PE,DP05_0029PM,DP05_0030E,DP05_0030M,DP05_0030PE,DP05_0030PM,DP05_0031E,DP05_0031M,DP05_0031PE
0,id,Geographic Area Name,Percent Margin of Error!!SEX AND AGE!!Total po...,Estimate!!SEX AND AGE!!Total population!!65 ye...,Margin of Error!!SEX AND AGE!!Total population...,Percent Estimate!!SEX AND AGE!!Total populatio...,Percent Margin of Error!!SEX AND AGE!!Total po...,Estimate!!RACE!!Total population,Margin of Error!!RACE!!Total population,Percent Estimate!!RACE!!Total population,...,Margin of Error!!SEX AND AGE!!Total population...,Percent Estimate!!SEX AND AGE!!Total populatio...,Percent Margin of Error!!SEX AND AGE!!Total po...,Estimate!!SEX AND AGE!!Total population!!65 ye...,Margin of Error!!SEX AND AGE!!Total population...,Percent Estimate!!SEX AND AGE!!Total populatio...,Percent Margin of Error!!SEX AND AGE!!Total po...,Estimate!!SEX AND AGE!!Total population!!65 ye...,Margin of Error!!SEX AND AGE!!Total population...,Percent Estimate!!SEX AND AGE!!Total populatio...
1,0400000US23,Maine,0.1,82.9,0.2,(X),(X),1332813,*****,1332813,...,284,259176,(X),117451,187,45.3,0.1,141725,201,54.7
2,0500000US23001,"Androscoggin County, Maine",0.2,80.8,0.5,(X),(X),107444,*****,107444,...,65,18104,(X),8091,45,44.7,0.2,10013,43,55.3
3,0500000US23003,"Aroostook County, Maine",0.2,83.3,0.5,(X),(X),68269,*****,68269,...,34,15500,(X),7046,24,45.5,0.2,8454,34,54.5
4,0500000US23005,"Cumberland County, Maine",0.1,77.8,0.2,(X),(X),290944,*****,290944,...,70,50364,(X),22044,*****,43.8,0.1,28320,70,56.2

In [9]:
tags_basic  = ["NAME", "DP05_0001E", "DP05_0002E", "DP05_0003E"]
tags_age = []
for i in range(5, 17 + 1):
    tags_age.append(f"DP05_00{i:02}E")
tags_race = ["DP05_0037E", "DP05_0038E", "DP05_0039E", "DP05_0044E", "DP05_0052E", "DP05_0057E", "DP05_0058E"]

names_basic = ["County", "Total_pop",  "Male_pop","Female_pop"]
names_age = ["pop<5", "pop<10", "pop<15", "pop<20", "pop<25", "pop<35", "pop<45", "pop<55", "pop<60", "pop<65", "pop<75", "pop<85", "pop>=85"]
names_race = ["White", "Black", "Native", "Asian", "Islander", "OtherRace", "TwoOrMore"]

In [10]:
df_demo2018 = df_demo2018[tags_basic + tags_age + tags_race]
df_demo2018.columns = names_basic + names_age + names_race

In [11]:
df_demo2018.head()

,County,Total_pop,Male_pop,Female_pop,pop<5,pop<10,pop<15,pop<20,pop<25,pop<35,...,pop<75,pop<85,pop>=85,White,Black,Native,Asian,Islander,OtherRace,TwoOrMore
0,Geographic Area Name,Estimate!!SEX AND AGE!!Total population,Estimate!!SEX AND AGE!!Total population!!Male,Estimate!!SEX AND AGE!!Total population!!Female,Estimate!!SEX AND AGE!!Total population!!Under...,Estimate!!SEX AND AGE!!Total population!!5 to ...,Estimate!!SEX AND AGE!!Total population!!10 to...,Estimate!!SEX AND AGE!!Total population!!15 to...,Estimate!!SEX AND AGE!!Total population!!20 to...,Estimate!!SEX AND AGE!!Total population!!25 to...,...,Estimate!!SEX AND AGE!!Total population!!65 to...,Estimate!!SEX AND AGE!!Total population!!75 to...,Estimate!!SEX AND AGE!!Total population!!85 ye...,Estimate!!RACE!!Total population!!One race!!White,Estimate!!RACE!!Total population!!One race!!Bl...,Estimate!!RACE!!Total population!!One race!!Am...,Estimate!!RACE!!Total population!!One race!!Asian,Estimate!!RACE!!Total population!!One race!!Na...,Estimate!!RACE!!Total population!!One race!!So...,Estimate!!RACE!!Total population!!Two or more ...
1,Maine,1332813,652299,680514,64437,70701,72678,79747,77353,155846,...,152428,73415,33333,1259217,17881,8302,14917,318,2970,29208
2,"Androscoggin County, Maine",107444,52514,54930,6456,6811,6364,6701,6595,13032,...,10539,5339,2226,98333,2260,249,812,4,224,5562
3,"Aroostook County, Maine",68269,33745,34524,3304,3383,3540,3941,3699,6689,...,8724,4521,2255,64865,665,1249,293,10,124,1063
4,"Cumberland County, Maine",290944,141276,149668,14155,16143,15248,17681,18290,38696,...,29516,13893,6955,267511,8481,547,6145,16,1033,7211

In [12]:
df_demo2018 = df_demo2018[df_demo2018.County.str.contains("County")]
df_demo2018["County"] = list(map(lambda x: x[0].upper(), df_demo2018["County"].str.split()))

In [13]:
# Missing Data Percentage
df_demo2018.isnull().sum(axis = 0)/len(df_demo2018)*100

County        0.0
Total_pop     0.0
Male_pop      0.0
Female_pop    0.0
pop<5         0.0
pop<10        0.0
pop<15        0.0
pop<20        0.0
pop<25        0.0
pop<35        0.0
pop<45        0.0
pop<55        0.0
pop<60        0.0
pop<65        0.0
pop<75        0.0
pop<85        0.0
pop>=85       0.0
White         0.0
Black         0.0
Native        0.0
Asian         0.0
Islander      0.0
OtherRace     0.0
TwoOrMore     0.0
dtype: float64

In [14]:
df_demo2018.reset_index(inplace=True)

In [15]:
df_demo2018

,index,County,Total_pop,Male_pop,Female_pop,pop<5,pop<10,pop<15,pop<20,pop<25,...,pop<75,pop<85,pop>=85,White,Black,Native,Asian,Islander,OtherRace,TwoOrMore
0,2,ANDROSCOGGIN,107444,52514,54930,6456,6811,6364,6701,6595,...,10539,5339,2226,98333,2260,249,812,4,224,5562
1,3,AROOSTOOK,68269,33745,34524,3304,3383,3540,3941,3699,...,8724,4521,2255,64865,665,1249,293,10,124,1063
2,4,CUMBERLAND,290944,141276,149668,14155,16143,15248,17681,18290,...,29516,13893,6955,267511,8481,547,6145,16,1033,7211
3,5,FRANKLIN,30019,14651,15368,1408,1486,1530,2058,1991,...,3800,1800,712,28993,84,119,114,31,62,616
4,6,HANCOCK,54541,26374,28167,2383,2685,2784,2648,2698,...,7714,3364,1628,52323,465,225,569,58,40,861
5,7,KENNEBEC,121545,59159,62386,6029,6400,7019,7469,7311,...,13283,6709,2939,116510,1045,666,1153,97,150,1924
6,8,KNOX,39823,19701,20122,1771,2001,2105,1996,1919,...,5459,2650,1239,38386,232,136,215,0,16,838
7,9,LINCOLN,34067,16624,17443,1339,1757,1491,1687,1647,...,5342,2716,947,33033,161,138,324,0,79,332
8,10,OXFORD,57325,28316,29009,2635,3016,3072,3521,2767,...,6915,3121,1697,55192,256,172,273,4,96,1332
9,11,PENOBSCOT,151748,75196,76552,7161,7681,8015,10564,10935,...,15213,7854,3370,143791,1370,1731,1581,63,341,2871
10,12,PISCATAQUIS,16887,8440,8447,707,771,810,957,717,...,2595,1168,492,16229,91,92,115,0,100,260
11,13,SAGADAHOC,35277,17228,18049,1784,2047,1694,1808,1636,...,4469,2100,896,33730,265,120,228,0,60,874
12,14,SOMERSET,50710,25085,25625,2329,3107,2559,2864,2422,...,6239,2830,1162,49017,300,224,155,0,26,988
13,15,WALDO,39418,19347,20071,1801,2015,2279,2290,1992,...,5277,2169,853,38039,231,182,195,0,88,683
14,16,WASHINGTON,31694,15614,16080,1513,1515,1919,1781,1658,...,4396,2122,850,28896,152,1607,139,4,190,706
15,17,YORK,203102,99029,104073,9662,9883,12249,11781,11076,...,22947,11059,5112,194369,1823,845,2606,31,341,3087

## Merge turnout number dataset with demographics in 2018

In [17]:
df_result = pd.merge(df_turnout, df_demo2018, how="left", on="County")

In [18]:
df_result

,Year,County,Turnout_number,index,Total_pop,Male_pop,Female_pop,pop<5,pop<10,pop<15,...,pop<75,pop<85,pop>=85,White,Black,Native,Asian,Islander,OtherRace,TwoOrMore
0,2020,OXFORD,6148,10,57325,28316,29009,2635,3016,3072,...,6915,3121,1697,55192,256,172,273,4,96,1332
1,2020,FRANKLIN,3475,5,30019,14651,15368,1408,1486,1530,...,3800,1800,712,28993,84,119,114,31,62,616
2,2020,SOMERSET,4029,14,50710,25085,25625,2329,3107,2559,...,6239,2830,1162,49017,300,224,155,0,26,988
3,2020,PISCATAQUIS,1353,12,16887,8440,8447,707,771,810,...,2595,1168,492,16229,91,92,115,0,100,260
4,2020,AROOSTOOK,5832,3,68269,33745,34524,3304,3383,3540,...,8724,4521,2255,64865,665,1249,293,10,124,1063
5,2020,PENOBSCOT,15816,11,151748,75196,76552,7161,7681,8015,...,15213,7854,3370,143791,1370,1731,1581,63,341,2871
6,2020,WASHINGTON,2864,16,31694,15614,16080,1513,1515,1919,...,4396,2122,850,28896,152,1607,139,4,190,706
7,2020,HANCOCK,9458,6,54541,26374,28167,2383,2685,2784,...,7714,3364,1628,52323,465,225,569,58,40,861
8,2020,WALDO,6474,15,39418,19347,20071,1801,2015,2279,...,5277,2169,853,38039,231,182,195,0,88,683
9,2020,KNOX,7883,8,39823,19701,20122,1771,2001,2105,...,5459,2650,1239,38386,232,136,215,0,16,838
10,2020,KENNEBEC,15565,7,121545,59159,62386,6029,6400,7019,...,13283,6709,2939,116510,1045,666,1153,97,150,1924
11,2020,LINCOLN,6173,9,34067,16624,17443,1339,1757,1491,...,5342,2716,947,33033,161,138,324,0,79,332
12,2020,SAGADAHOC,6672,13,35277,17228,18049,1784,2047,1694,...,4469,2100,896,33730,265,120,228,0,60,874
13,2020,ANDROSCOGGIN,11071,2,107444,52514,54930,6456,6811,6364,...,10539,5339,2226,98333,2260,249,812,4,224,5562
14,2020,CUMBERLAND,65403,4,290944,141276,149668,14155,16143,15248,...,29516,13893,6955,267511,8481,547,6145,16,1033,7211
15,2020,YORK,32431,17,203102,99029,104073,9662,9883,12249,...,22947,11059,5112,194369,1823,845,2606,31,341,3087
16,2016,ANDROSCOGGIN,215,2,107444,52514,54930,6456,6811,6364,...,10539,5339,2226,98333,2260,249,812,4,224,5562
17,2016,AROOSTOOK,162,3,68269,33745,34524,3304,3383,3540,...,8724,4521,2255,64865,665,1249,293,10,124,1063
18,2016,CUMBERLAND,944,4,290944,141276,149668,14155,16143,15248,...,29516,13893,6955,267511,8481,547,6145,16,1033,7211
19,2016,FRANKLIN,67,5,30019,14651,15368,1408,1486,1530,...,3800,1800,712,28993,84,119,114,31,62,616
20,2016,HANCOCK,153,6,54541,26374,28167,2383,2685,2784,...,7714,3364,1628,52323,465,225,569,58,40,861
21,2016,KENNEBEC,319,7,121545,59159,62386,6029,6400,7019,...,13283,6709,2939,116510,1045,666,1153,97,150,1924
22,2016,KNOX,116,8,39823,19701,20122,1771,2001,2105,...,5459,2650,1239,38386,232,136,215,0,16,838
23,2016,LINCOLN,88,9,34067,16624,17443,1339,1757,1491,...,5342,2716,947,33033,161,138,324,0,79,332
24,2016,OXFORD,115,10,57325,28316,29009,2635,3016,3072,...,6915,3121,1697,55192,256,172,273,4,96,1332
25,2016,PENOBSCOT,350,11,151748,75196,76552,7161,7681,8015,...,15213,7854,3370,143791,1370,1731,1581,63,341,2871
26,2016,PISCATAQUIS,40,12,16887,8440,8447,707,771,810,...,2595,1168,492,16229,91,92,115,0,100,260
27,2016,SAGADAHOC,109,13,35277,17228,18049,1784,2047,1694,...,4469,2100,896,33730,265,120,228,0,60,874
28,2016,SOMERSET,108,14,50710,25085,25625,2329,3107,2559,...,6239,2830,1162,49017,300,224,155,0,26,988
29,2016,WALDO,101,15,39418,19347,20071,1801,2015,2279,...,5277,2169,853,38039,231,182,195,0,88,683
30,2016,WASHINGTON,73,16,31694,15614,16080,1513,1515,1919,...,4396,2122,850,28896,152,1607,139,4,190,706
31,2016,YORK,462,17,203102,99029,104073,9662,9883,12249,...,22947,11059,5112,194369,1823,845,2606,31,341,3087

In [19]:
# Missing Data Percentage
df_result.isnull().sum(axis = 0)/len(df_result)*100

Year              0.0
County            0.0
Turnout_number    0.0
index             0.0
Total_pop         0.0
Male_pop          0.0
Female_pop        0.0
pop<5             0.0
pop<10            0.0
pop<15            0.0
pop<20            0.0
pop<25            0.0
pop<35            0.0
pop<45            0.0
pop<55            0.0
pop<60            0.0
pop<65            0.0
pop<75            0.0
pop<85            0.0
pop>=85           0.0
White             0.0
Black             0.0
Native            0.0
Asian             0.0
Islander          0.0
OtherRace         0.0
TwoOrMore         0.0
dtype: float64

## Write out csv file

In [20]:
!ls ../20_intermediate_files/

README.md      turnout.csv    turnout_v2.csv turnout_v3.csv

In [21]:
df_result.to_csv("../20_intermediate_files/turnout_num_Maine.csv")

In [22]:
!ls ../20_intermediate_files/

README.md             turnout_num_Maine.csv turnout_v3.csv
turnout.csv           turnout_v2.csv

In [23]:
!cat ../20_intermediate_files/turnout_num_Maine.csv turnout_v3.csv

,Year,County,Turnout_number,index,Total_pop,Male_pop,Female_pop,pop<5,pop<10,pop<15,pop<20,pop<25,pop<35,pop<45,pop<55,pop<60,pop<65,pop<75,pop<85,pop>=85,White,Black,Native,Asian,Islander,OtherRace,TwoOrMore
0,2020,OXFORD,6148,10,57325,28316,29009,2635,3016,3072,3521,2767,5782,6498,8391,4906,5004,6915,3121,1697,55192,256,172,273,4,96,1332
1,2020,FRANKLIN,3475,5,30019,14651,15368,1408,1486,1530,2058,1991,3211,3005,4037,2448,2533,3800,1800,712,28993,84,119,114,31,62,616
2,2020,SOMERSET,4029,14,50710,25085,25625,2329,3107,2559,2864,2422,5347,5911,7703,4427,3810,6239,2830,1162,49017,300,224,155,0,26,988
3,2020,PISCATAQUIS,1353,12,16887,8440,8447,707,771,810,957,717,1426,1733,2395,1537,1579,2595,1168,492,16229,91,92,115,0,100,260
4,2020,AROOSTOOK,5832,3,68269,33745,34524,3304,3383,3540,3941,3699,6689,7129,9758,5827,5499,8724,4521,2255,64865,665,1249,293,10,124,1063
5,2020,PENOBSCOT,15816,11,151748,75196,76552,7161,7681,8015,10564,10935,20074,17093,21042,11651,11095,15213,7854,3370,143791,1370,1731,1581,63,341,2871
6,2020,WASHINGTON,2864,16,31694,15614,16080,1513,1515,1919,1781,1658,3006,3276,4274,2588,2796,4396,2122,850,28896,152,1607,139,4,190,706
7,2020,HANCOCK,9458,6,54541,26374,28167,2383,2685,2784,2648,2698,5907,5761,7597,4662,4710,7714,3364,1628,52323,465,225,569,58,40,861
8,2020,WALDO,6474,15,39418,19347,20071,1801,2015,2279,2290,1992,4137,4574,5423,3237,3371,5277,2169,853,38039,231,182,195,0,88,683
9,2020,KNOX,7883,8,39823,19701,20122,1771,2001,2105,1996,1919,4069,4487,5365,3469,3293,5459,2650,1239,38386,232,136,215,0,16,838
10,2020,KENNEBEC,15565,7,121545,59159,62386,6029,6400,7019,7469,7311,13689,13987,17590,9935,9185,13283,6709,2939,116510,1045,666,1153,97,150,1924
11,2020,LINCOLN,6173,9,34067,16624,17443,1339,1757,1491,1687,1647,3186,3526,4593,2461,3375,5342,2716,947,33033,161,138,324,0,79,332
12,2020,SAGADAHOC,6672,13,35277,17228,18049,1784,2047,1694,1808,1636,3917,3877,5216,3361,2472,4469,2100,896,33730,265,120,228,0,60,874
13,2020,ANDROSCOGGIN,11071,2,107444,52514,54930,6456,6811,6364,6701,6595,13032,12915,15291,8401,6774,10539,5339,2226,98333,2260,249,812,4,224,5562
14,2020,CUMBERLAND,65403,4,290944,141276,149668,14155,16143,15248,17681,18290,38696,35506,42305,22675,19881,29516,13893,6955,267511,8481,547,6145,16,1033,7211
15,2020,YORK,32431,17,203102,99029,104073,9662,9883,12249,11781,11076,23678,23439,29754,16686,15776,22947,11059,5112,194369,1823,845,2606,31,341,3087
16,2016,ANDROSCOGGIN,215,2,107444,52514,54930,6456,6811,6364,6701,6595,13032,12915,15291,8401,6774,10539,5339,2226,98333,2260,249,812,4,224,5562
17,2016,AROOSTOOK,162,3,68269,33745,34524,3304,3383,3540,3941,3699,6689,7129,9758,5827,5499,8724,4521,2255,64865,665,1249,293,10,124,1063
18,2016,CUMBERLAND,944,4,290944,141276,149668,14155,16143,15248,17681,18290,38696,35506,42305,22675,19881,29516,13893,6955,267511,8481,547,6145,16,1033,7211
19,2016,FRANKLIN,67,5,30019,14651,15368,1408,1486,1530,2058,1991,3211,3005,4037,2448,2533,3800,1800,712,28993,84,119,114,31,62,616
20,2016,HANCOCK,153,6,54541,26374,28167,2383,2685,2784,2648,2698,5907,5761,7597,4662,4710,7714,3364,1628,52323,465,225,569,58,40,861
21,2016,KENNEBEC,319,7,121545,59159,62386,6029,6400,7019,7469,7311,13689,13987,17590,9935,9185,13283,6709,2939,116510,1045,666,1153,97,150,1924
22,2016,KNOX,116,8,39823,19701,20122,1771,2001,2105,1996,1919,4069,4487,5365,3469,3293,5459,2650,1239,38386,232,136,215,0,16,838
23,2016,LINCOLN,88,9,34067,16624,17443,1339,1757,1491,1687,1647,3186,3526,4593,2461,3375,5342,2716,947,33033,161,138,324,0,79,332
24,2016,OXFORD,115,10,57325,28316,29009,2635,3016,3072,3521,2767,5782,6498,8391,4906,5004,6915,3121,1697,55192,256,172,273,4,96,1332
25,2016,PENOBSCOT,350,11,151748,75196,76552,7161,7681,8015,10564,10935,20074,17093,21042,11651,11095,15213,7854,3370,143791,1370,1731,1581,63,341,2871
26,2016,PISCATAQUIS,40,12,16887,8440,8447,707,771,810,957,717,1426,1733,2395,1537,1579,2595,1168,492,16229,91,92,115,0,100,260
27,2016,SAGADAHOC,109,13,35277,17228,18049,1784,2047,1694,1808,1636,3917,3877,5216,3361,2472,4469,2100,896,33730,265,120,228,0,60,874
28,2016,SOMERSET,108,14,50710,25085,25625,2329,3107,2559,2864,2422,5347,5911,7703,4427,3810,6239,2830,1162,49017,300,224,155,0,26,988
29,2016,WALDO,101,15,39418,19347,20071,1801,2015,2279,2290,1992,4137,4574,5423,3237,3371,5277,2169,853,38039,231,182,195,0,88,683
30,2016,WASHINGTON,73,16,31694,15614,16080,1513,1515,1919,1781,1658,3006,3276,4274,2588,2796,4396,2122,850,28896,152,1607,139,4,190,706
31,2016,YORK,462,17,203102,99029,104073,9662,9883,12249,11781,11076,23678,23439,29754,16686,15776,22947,11059,5112,194369,1823,845,2606,31,341,3087
cat: turnout_v3.csv: No such file or directory